.filter-buttons{
  display:flex;
  flex-direction: row;
  justify-content:center;
  padding: 80px;
}

.filter-button{
  font-size: 32px;
  text-align: left;
  background-color: transparent;
  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 20px;
}


.filter-button:hover {
  background-color: black;
  color: white;
}

.filter-dropdown-select{
  font-size:24px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  color: black;
}


.filter-dropdown-option{
  background-color: black;
  color: white;
}


.filter-dropdown-select:hover {
  background-color: black;
  color: white;
}

