/*Title for nav page*/
.nav-title {
  text-align: center;
  font-size: 64px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 200px;
}

.nav-item {
  width: 800px;
  text-align: center;
}

.nav-menu {
  height: 40px;
  width: 40px;
}

.nav-location {
  font-size: 32px;
}

.line {
  border: 2px solid black;
  border-radius: 1px;
}
